.App {
  text-align: center;
  background-color: #030924;
}

.bull-photo {
  width: 100%;
  height: auto;
  max-width: 650px;
}

.component {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.component .container {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #FDF4DC;
  max-width: 650px;
  min-height: 400px;
  border-radius: 20px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  overflow: auto;
  height: 100%;
  position: relative;
}

p {
  font-size: small;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#input-box {
  margin-top: auto;
}
